<h2 mat-dialog-title>{{ data ? "Kartviziti Düzenle" : "Yeni Kartvizit"}}</h2>
<mat-dialog-content class="mat-typography">
  <div *ngIf="shopSpiner">
    <mat-progress-bar mode="query"></mat-progress-bar>
    <br>
  </div>
  <form [formGroup]="cardform" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Phone</mat-label>
      <input matInput formControlName="phone">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Address</mat-label>
      <input matInput formControlName="address">
    </mat-form-field>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <div class="flex-grow-1 text-start" *ngIf="data">
    <button mat-stroked-button color="warn" (click)="deleteCard()" [disabled]="shopSpiner">Sil</button>
  </div>
  <div>
    <button mat-button mat-dialog-close>Vazgeç</button>
    <button mat-flat-button color="primary" (click)="data ? updateCard() : addCard()" [disabled]="cardform.invalid || shopSpiner">{{ data ? "Düzenle":"Ekle"}}</button>
  </div>
</mat-dialog-actions>
