<mat-card class="card-item" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{cardItem.name}}</mat-card-title>
    <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul class="list-group">
      <li class="list-group-item">{{cardItem.phone}}</li>
      <li class="list-group-item">{{cardItem.email}}</li>
      <li class="list-group-item">{{cardItem.address}}</li>
    </ul>
  </mat-card-content>
</mat-card>
