<mat-card class="card-item" appearance="outlined">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{cardItem.name}}</mat-card-title>
    <mat-card-subtitle>{{cardItem.title}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <ul class="list-group">
      <li class="list-group-item">{{cardItem.phone}}</li>
      <li class="list-group-item">
        <span *ngIf="cardItem.email">{{cardItem.email}}</span>
        <small class="text-warning no-content" *ngIf="!cardItem.email;">E-posta girilmemiş.</small>
      </li>
      <li class="list-group-item">
        <span *ngIf="cardItem.address">{{cardItem.address}}</span>
        <small class="text-warning no-content" *ngIf="!cardItem.address;">Adres girilmemiş.</small>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
